body {
    text-align: center;
}

input{
    width: 90%;
    font-family: 'Montserrat', sans-serif;
    margin-bottom: 10px;
    text-align: center;
}

#loginForm {
    display: inline-block;
    margin-top: 12%;
    font-family: 'Montserrat', sans-serif;
    font-size: 22px;
    border: steelblue;
    border-style: outset;
    background-color: white;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
 }

#title {
    font-family: 'Montserrat Subrayada', sans-serif;
    font-size: 40px;
}

#paragraphs {
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
}

#loginBtn {
    width: 50%;
    padding-top: 5px;
    padding-bottom: 5px;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    background-color: slategray;
    border-style: outset;
    color: white;
    font-weight: bolder;
    text-align: center;
    
}

.custom-shape-divider-top-1594210949 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
    z-index: -1;
}

.custom-shape-divider-top-1594210949 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 276px;
    z-index: -1;

}

.custom-shape-divider-top-1594210949 .shape-fill {
    fill: slategray;
    z-index: -1;

}
