<!DOCTYPE html>
<html>

<head>
    <title>Get in line, cadet!</title>
    <link rel="icon" href="../resources/icon.png">
    <link rel="stylesheet" type="text/css" href="style/style.css">
    <link rel="stylesheet" type="text/css" href="style/error-style.css">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat+Subrayada&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>

    <div id="error-div">
       <img id="error-img" src="../resources/error.png" alt="error.png">
        <h2>Oh nooooo. An error page!</h2>
        <h3>Something isn't quite right, but it's not you... It's us.</h3>
        <h3>Please retry in a few seconds.</h3>
    </div>

    <div class="custom-shape-divider-top-1594210949">
        <svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 120" preserveAspectRatio="none">
            <path d="M598.97 114.72L0 0 0 120 1200 120 1200 0 598.97 114.72z" class="shape-fill"></path>
        </svg>
    </div>
</body>

</html>